<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>Hello</h1>
    <p>What is the time? <%= result %></p>
    <img src="seal10.jpg" alt="Seal"><br><br>
    List of marine aquatic mammals
    <ul>
      <li>Whale</li>
      <li>Seal</li>
      <li>Dolphin</li>
      <li>Sea Otter</li>
      <li>Dugong</li>
    </ul>
  </body>
</html>